.midContainer {
    /* font-weight: 200;
    font-weight: 400;
    line-height: 1.563; */
    margin: 10px auto;
    margin-bottom: 60px; 
    border: 3px solid green;
  }

  .header {
  font-weight: 600;

  }

  .services{
     border:3px solid red;
     display: flex;
     flex-direction: row;
     justify-content: center; 
     flex-wrap: wrap;
  }

  .card{
    margin: 10px 20px;
    width: 200px;
    height: 250px;
    padding:5px;
    background: #e0f2fe;
    border: 0.2px solid rgb(243, 238, 238);
  }


.sec2 {
  margin-top: 30px;
}
 
.box {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    margin-top:40px;
    background-color: #ffedd5;
} 
  
  .box1, .box2, .box3, .box4, .box5, .box6{
    margin:30px;
    border: 0.2px solid rgb(243, 238, 238);
    padding: 2rem;
    width: 25rem;
    background: #fff;
  }
  
/* CSS code for screens smaller than or equal to 992px */
